body {
  margin: 0;
  padding: 0 0px;
  font-family: 'Arial', sans-serif;
}

.fading-header {
  background: linear-gradient(to right, #6f596f93, #4c00820c);
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10%;
}

#backgroundImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: url('your-image-path.jpg');
  background-size: cover;
}

.weather-display {
  width: 70%;
  background: rgba(121, 122, 108, 0.306);
  display: flex;
  flex-direction: column;
  color: #fff;
  border-radius: 10%;
}

.sidebar {
  width: 25%;
  padding: 20px;
  border-radius: 10%;
  background-color: #ffffff0a;
}

.sidebar h2 {
  margin-bottom: 10px;
  color: #fff;
  padding: 0 10px;
}

#currentWeather {
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  flex-direction: column;
}

#recentSearchesList button {
  display: block;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 10%;
  width: 100%;
  text-align: left;
  background-color: #323232ce;
  border: 1px solid #8c898942;
  cursor: pointer;
}

#recentSearchesList button:hover {
  background-color: #1615157f;
}

.forecast-container {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #cccccc11;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #ffffff11;
  background-image: url('your-image-path.jpg'); /* Use the same path as in #backgroundImage */
  background-size: cover;
}

.weather-box {
  width: calc(20% - 10px);
  padding: 10px;
  border: 1px solid #cccccc60;
  box-sizing: border-box;
  border-radius: 10px;
}

.forecast-images {
  display: flex;
  justify-content: space-between;
}

.forecast-images img {
  width: 20%;
  border-radius: 10px;
}

#cityInput {
  width: 25%;
  border-radius: 8px;
  padding: 8px;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
}

button {
  display: block;
  width: 25%;
  padding: 10px;
  background-color: #00000039;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #1314136c;
}

@media (max-width: 768px) {
  .boxes-container {
    flex-wrap: wrap;
  }

  .box {
    width: 100%;
    margin-bottom: 10px;
  }
}
